Repository zycxfyh/frys: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lefthook.yml:

# Lefthook Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,json}'
      run: pnpm run lint
      stage_fixed: true

    format-check:
      glob: '*.{js,json,md}'
      run: pnpm run format:check
      stage_fixed: true

    test-quick:
      run: pnpm run test:unit
      skip:
        - merge
        - rebase

pre-push:
  parallel: false
  commands:
    test-full:
      run: pnpm run test
      skip:
        - merge
        - rebase

    quality-check:
      run: pnpm run quality:quick
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    check-message:
      run: |
        # Check commit message format (Conventional Commits)
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,}" "$1"; then
          echo "‚ùå Commit message does not follow Conventional Commits format"
          echo "Format: <type>(<scope>): <subject>"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi

fix: 添加缺失的npm脚本和文档
  DEPLOYMENT_MONITORING_GUIDE.md
  package.json
Due: lint, format-check

refactor: 完成frys项目解耦与模块化重构
  test-commit.md
Due: format-check

fix: 配置ESLint规则 - 大幅减少警告数量
  .eslintrc.js
Due: lint, format-check

fix: 修复Result.js中的tryCatch函数await问题
  src/shared/kernel/Result.js
Due: lint, format-check

fix: 修改lefthook配置 - 暂时跳过完整测试检查
  lefthook.yml
Due: none

fix: 重命名ESLint配置文件为.cjs格式
  .eslintrc.cjs
  .eslintrc.js
Due: lint, format-check

fix: 暂时禁用pre-push钩子以允许推送代码
  lefthook.yml
Due: none

feat: 完善Frys EventBus模块文档
  modules/frys-eventbus/README.md
  modules/frys-eventbus/TODO.md
Due: format-check

feat: 完善Frys Config模块文档
  modules/frys-config/README.md
  modules/frys-config/TODO.md
Due: format-check

docs: 制定Frys创世星环宪法 - AI文明蓝图
  AI_FRONTIER_INSIGHTS_FOR_FRYS.md
  FRYS_CREATION_RING_CONSTITUTION.md
Due: format-check

docs: 制定Frys世界模型框架 - AI大统一理论
  FRYS_WORLD_MODEL_FRAMEWORK.md
  README.md
Due: format-check

feat: 基于世界模型框架重构工作流引擎架构
  README.md
  WORKFLOW_ENGINE_ARCHITECTURE.md
  modules/frys-workflow-engine/src/architecture.rs
  modules/frys-workflow-engine/src/lib.rs
Due: format-check

feat: 基于世界模型哲学重新设计核心模块文档
  modules/frys-ai-system/README.md
  modules/frys-config/README.md
  modules/frys-eventbus/README.md
  modules/frys-kernel/README.md
  modules/frys-vector-search/README.md
  modules/frys-workflow-engine/README.md
Due: format-check

feat: 制定AOS技术栈全景图 - 从理论到落地的完整路线图
  AOS_TECHNOLOGY_STACK_BLUEPRINT.md
  README.md
Due: format-check

feat: 更新工作流引擎README - 吸收AOS技术栈增强实用性
  modules/frys-workflow-engine/README.md
Due: format-check

docs: 完成工作流引擎与AOS技术栈融合总结
  WORKFLOW_ENGINE_AOS_INTEGRATION.md
Due: format-check

docs: 完成所有模块的AOS哲学发展指南
  README.md
  modules/frys-agent-system/DEVELOPMENT_GUIDE.md
  modules/frys-ai-system/DEVELOPMENT_GUIDE.md
  modules/frys-cache/DEVELOPMENT_GUIDE.md
  modules/frys-config/DEVELOPMENT_GUIDE.md
  modules/frys-eventbus/DEVELOPMENT_GUIDE.md
  modules/frys-gateway/DEVELOPMENT_GUIDE.md
  modules/frys-kernel/DEVELOPMENT_GUIDE.md
  modules/frys-monitoring/DEVELOPMENT_GUIDE.md
  modules/frys-plugin-system/DEVELOPMENT_GUIDE.md
  modules/frys-vector-search/DEVELOPMENT_GUIDE.md
  modules/frys-websocket/DEVELOPMENT_GUIDE.md
Due: format-check

docs: 更新README - 添加所有模块的AOS哲学发展指南
  README.md
Due: format-check

docs: 创建AOS工作流架构设计 - 基于张量原生、自组织、自主试错学习的完整架构
  AOS_WORKFLOW_ARCHITECTURE.md
Due: format-check

docs: 创建AOS工作流系统落地指南 - 框架、业务逻辑、落地方式和实际作用
  AOS_WORKFLOW_LANDING_GUIDE.md
  README.md
Due: format-check

docs: 创建AOS工作流系统实施细节 - API设计、监控安全、迁移策略和风险管理
  AOS_WORKFLOW_IMPLEMENTATION_DETAILS.md
Due: format-check

docs: 创建AOS工作流系统技术架构深度解析 - 详细分析三层架构的技术实现、可行性和性能基准
  AOS_WORKFLOW_TECHNICAL_ARCHITECTURE_ANALYSIS.md
  README.md
Due: format-check
